@use "base";

.main {
    width: 50%;
    height: 85%;
    min-width: 30rem;
    margin: auto;
    background-color: base.$main-color;
    color: base.$main-text-color;
    border: thin solid base.$main-border-color;
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__messages {
        margin-bottom: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        font-size: 2rem;
        overflow-y: auto;
    }

    &__input {
        display: flex;
        gap: 2rem;

        &__message,
        &__send {
            border-radius: 500rem;
            outline: none;
        }

        &__message {
            flex: 1 1 0;
            background-color: transparent;
            color: base.$main-text-color;
            border: thin solid base.$input-border-color;
            font-weight: 100;
            padding: 1rem;
            min-width: 0;
            opacity: 0.5;
            transition: opacity 0.1s ease-out;

            &:focus {
                opacity: 1;
            }
        }

        &__send {
            border: none;
            cursor: pointer;
            font-weight: bold;
            background-color: base.$btn-color;
            color: base.$btn-text-color;
            transition: background-color 0.1s ease-out;
            padding: 1rem 2rem;

            &:hover,
            &:focus {
                background-color: base.$btn-hover-color;
            }

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
}

.message__sender {
    font-weight: bold;

    &::after {
        content: ": ";
    }
}

.message__content {
    display: inline;
    text-wrap: wrap;
    word-wrap: break-word;
}

.announcement {
    font-weight: bold;
}